div {
  display: grid;
  height: 100vh;
  grid-template-rows: 100px auto 100px;
  grid-template-areas: "navi" "main" "footer";
  grid-template-columns: "left" "center" "right"
}
app-navigation {
  grid-area: navi;
}

div .main-container {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-footer {
  grid-area: footer;
}