:host {
  display: grid;
  height: 100vh;
  grid-template-rows: 100px auto 100px;
  grid-template-areas: "navi" "main" "footer";
  grid-template-columns: "left" "center" "right"
}
app-navigation {
  grid-area: navi;
}

div {
  grid-area: main;
}

app-footer {
  grid-area: footer;
}