:host {
  background: linear-gradient(65deg, transparent 50%, transparent 50%, #ffffff 30%);
  display: flex;
  flex-direction: row;
  width: 100%;
}

.label-container {
  justify-content: center;
  align-items: center;
}
.label {
  line-height: 65px;
  flex-direction: column;
}
.label .title {
  font-size: 3em;
  font-weight: 700;
}
.label .offer {
  font-size: 7em;
  color: rgb(255, 222, 182);
  font-weight: 900;
}
div {
  flex: 1;
  display: flex;
}