:host {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  width: 100%;
}
mat-toolbar {
  max-width: 1200px;
}
.brand a {
  font-size: 3em;
 }
.list-links ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.list-links ul li {
  margin: 0 5px;
  font-size: 16px;
}
.list-links ul li a {
  text-decoration: none;
  cursor: pointer;
}
span {
  flex: 1 1 auto
}
